services:
  saas-web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: {{ saas_container_name }}
    restart: {{ saas_restart_policy }}
    env_file:
      - .env
    environment:
      API_HOST: 0.0.0.0
      PORT_API: {{ saas_port }}
      WARMUP_RUNTIME_HOST: {{ saas_runtime_host }}
      WARMUP_RUNTIME_URL: {{ saas_warmup_runtime_url }}
      NODE_ENV: {{ saas_node_env }}
    volumes:
      - {{ saas_data_dir }}:/app/runtime-data
      - {{ saas_logs_dir }}:/app/logs
